@media (max-width: 1755px) {
    .limit-vw h1 {
        font-size: 85px;
    }

    .section-about-main .limit-vw .info-about {
        width: 45%;
        gap: 40px;
        padding: 95px 95px 30px 95px;
    }
}

@media (max-width: 1740px) and (min-width: 1150px) {
    .section-top-main {
        background-size: cover;
        background-position: right;
    }
}

@media (max-width: 1655px) {
    .limit-vw {
        width: 65%;
    }

    .limit-vw h1 {
        font-size: 75px;
    }

    .section-about-main .limit-vw .info-about {
        width: 45%;
        padding: 75px 75px 30px 75px;
    }

    .section-grid-images .grid-imgs {
        grid-template-columns: 0fr 0fr 0fr;
    }
}

@media (max-width: 1580px) {
    .limit-vw h1 {
        width: 65%;
    }

    .section-about-main .limit-vw figure {
        width: 70%;
    }

    /* Troca de <img> - (mobile) - */
    .section-about-main .limit-vw figure img:last-child {
        display: block;
    }

    /* Troca de <img> - (desktop) - */
    .section-about-main .limit-vw figure img:first-child {
        display: none;
    }

    .section-about-main .limit-vw .info-about {
        top: 130%;
        right: 12%;
        width: 40%;
    }

    .section-about-main .limit-vw .info-about h2 {
        font-size: 45px;
    }

    .section-about-main .limit-vw .info-about p {
        font-size: 15px;
    }
}

@media (max-width: 1460px) {
    .limit-vw h1 {
        width: 80%;
    }

    .section-about-main .limit-vw .info-about {
        padding: 55px 55px 30px 55px;
        right: 9%;
    }

    .section-grid-images .grid-imgs .figures {
        width: 270px;
        height: 490px;
    }
}

@media (max-width: 1300px) {
    .limit-vw h1 {
        width: 80%;
    }

    .section-grid-images .grid-imgs .figures {
        width: 235px;
        height: 440px;
    }
}

@media (max-width: 1200px) {

    /* nova estilização da barra de navegação */
    .section-top-main .nav-bar .sections {
        background-color: black;
        z-index: 2;
        display: none;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        gap: 50px;
        padding-left: 17%;
    }

    /* menu-hamburguer */
    .section-top-main .nav-bar span {
        display: block;
    }

    .section-top-main .nav-bar .sections p a {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 30px;
    }

    .section-top-main .nav-bar .logo {
        z-index: 3;
        height: 39px;
    }

    .limit-vw h1 {
        width: 100%;
    }

    .section-about-main .limit-vw {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .section-about-main .limit-vw .info-about {
        align-items: center;
        text-align: center;
        position: static;
        width: 70%;
        gap: 20px;
        padding: 0;
    }
}

@media (max-width: 1149px) {}
/* max-width: 1149px imagem do topo, grid, footer*/