@media (max-width: 1755px) {
    .limit-vw h1 {
        font-size: 85px;
    }

    .section-about-main .limit-vw .info-about {
        width: 45%;
        gap: 40px;
        padding: 95px 95px 30px 95px;
    }
}

@media (max-width: 1740px) and (min-width: 1150px) {
    .section-top-main {
        background-size: cover;
        background-position: right;
    }
}

@media (max-width: 1655px) {
    .limit-vw {
        width: 65%;
    }

    .limit-vw h1 {
        font-size: 75px;
    }

    .section-about-main .limit-vw .info-about {
        width: 45%;
        padding: 75px 75px 30px 75px;
    }

    .section-grid-images .limit-vw .see-all {
        top: 4.5%;
    }

    .section-grid-images .grid-imgs {
        grid-template-columns: 0fr 0fr 0fr;
    }
}

@media (max-width: 1580px) {
    .limit-vw h1 {
        width: 65%;
    }

    .section-about-main .limit-vw figure {
        width: 70%;
    }

    /* Troca de <img> - (mobile) - */
    .section-about-main .limit-vw figure img:last-child {
        display: block;
    }

    /* Troca de <img> - (desktop) - */
    .section-about-main .limit-vw figure img:first-child {
        display: none;
    }

    .section-about-main .limit-vw .info-about {
        top: 130%;
        right: 12%;
        width: 40%;
    }

    .section-about-main .limit-vw .info-about h2 {
        font-size: 45px;
    }

    .section-about-main .limit-vw .info-about p {
        font-size: 15px;
    }
}

@media (max-width: 1460px) {
    .limit-vw h1 {
        width: 80%;
    }

    .section-about-main .limit-vw .info-about {
        padding: 55px 55px 30px 55px;
        right: 9%;
    }

    .section-grid-images .grid-imgs .figures {
        width: 270px;
        height: 490px;
    }
}

@media (max-width: 1300px) {
    .limit-vw h1 {
        width: 80%;
    }

    .section-grid-images .grid-imgs .figures {
        width: 235px;
        height: 440px;
    }
}

@media (max-width: 1200px) {

    /* nova estilização da barra de navegação */
    .section-top-main .nav-bar .sections {
        background-color: black;
        z-index: 2;
        display: none;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        gap: 50px;
        padding-left: 17%;
    }

    /* menu-hamburguer */
    .section-top-main .nav-bar span {
        display: block;
    }

    .section-top-main .nav-bar .sections p a {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 30px;
    }

    .section-top-main .nav-bar .logo {
        z-index: 3;
        height: 39px;
    }

    .limit-vw h1 {
        width: 100%;
    }

    .section-about-main .limit-vw {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .section-about-main .limit-vw .info-about {
        align-items: center;
        text-align: center;
        position: static;
        width: 70%;
        gap: 20px;
        padding: 0;
    }
}

@media (max-width: 1149px) {
    .limit-vw {
        width: 85%;
    }

    .section-top-main {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)100%), url(../images/mobile/image-hero.jpg) no-repeat;
        background-size: cover;
    }

    .section-top-main .nav-bar span {
        right: 5%;
    }

    .section-grid-images .our-creations {
        justify-content: center;
    }

    .section-grid-images .limit-vw .see-all {
        position: static;
        margin-bottom: 50px;
    }

    .section-grid-images .grid-imgs {
        grid-template-columns: 1fr;
    }

    .section-grid-images .grid-imgs .figures {
        width: 100%;
        max-height: 240px;
    }

    /* backgrounds da seção grid mobile*/
    .section-grid-images .grid-imgs .fig-de {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-de-mb) no-repeat;
        background-size: cover;
    }

    .section-grid-images .grid-imgs .fig-na {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-na-mb) no-repeat;
        background-size: cover;
    }

    .section-grid-images .grid-imgs .fig-st {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-st-mb) no-repeat;
        background-size: cover;
    }

    .section-grid-images .grid-imgs .fig-tg {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-tg-mb) no-repeat;
        background-size: cover;
    }

    .section-grid-images .grid-imgs .fig-fa {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-fa-mb) no-repeat;
        background-size: cover;
    }

    .section-grid-images .grid-imgs .fig-pb {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-pb-mb) no-repeat;
        background-size: cover;
    }

    .section-grid-images .grid-imgs .fig-tc {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-tc-mb) no-repeat;
        background-size: cover;
    }

    .section-grid-images .grid-imgs .fig-mf {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-mf-mb) no-repeat;
        background-size: cover;
    }

    .footer-content .size-limit, .footer-content .size-limit .nav-bar, .footer-content .size-limit .nav-bar .sections {
        flex-direction: column;
        align-items: center;
    }

    .footer-content .size-limit .icons .sections {
        flex-direction: row;
        margin-top: 50px;
    }
}

@media (max-width: 770px) {
    .section-top-main .nav-bar .logo {
        height: 35px;
    }

    .limit-vw h1 {
        font-size: 55px;
    }

    .section-about-main .limit-vw figure {
        width: 85%;
    }

    .section-about-main .limit-vw .info-about {
        width: 80%;
    }

    .section-grid-images .our-creations h2 {
        font-size: 50px;
    }

    .section-grid-images .grid-imgs {
        margin-top: 60px;
    }
}

@media (max-width: 580px) {
    .limit-vw h1 {
        font-size: 45px;
    }

    .section-about-main .limit-vw figure {
        width: 100%;
    }

    .section-about-main .limit-vw .info-about h2 {
        font-size: 35px;
    }

    .section-grid-images .grid-imgs {
        grid-auto-rows: 10%;
    }

    .section-grid-images .our-creations h2 {
        font-size: 37px;
    }

    .section-grid-images .grid-imgs .figures {
        max-height: 180px;
    }
}

@media (max-width: 435px) {
    .limit-vw h1 {
        font-size: 35px;
    }

    .section-about-main .limit-vw .info-about h2 {
        font-size: 30px;
    }
}