:root {
    /* cores primarias */
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);

    /* Imagens da seção grid - (Our creations) - */
    --fig-de: url(../images/desktop/image-deep-earth.jpg);
    --fig-na: url(../images/desktop/image-night-arcade.jpg);
    --fig-st: url(../images/desktop/image-soccer-team.jpg);
    --fig-tg: url(../images/desktop/image-grid.jpg);
    --fig-fa: url(../images/desktop/image-from-above.jpg);
    --fig-pb: url(../images/desktop/image-pocket-borealis.jpg);
    --fig-tc: url(../images/desktop/image-curiosity.jpg);
    --fig-mf: url(../images/desktop/image-fisheye.jpg);
}

/* estilos gerais */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: var(--White);
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

p {
    font-family: "Alata", sans-serif;
    font-weight: 400;
}

.sect-vh {
    display: flex;
    align-items: center;
    height: 90vh;
}

.limit-vw {
    width: 75%;
}

/* estilos secao topo da pagina */
.section-top-main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)100%), url(../images/desktop/image-hero.jpg) no-repeat;
    background-size: cover;
    flex-direction: column;
}

.section-top-main .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    margin-top: 6%;
}

/* logo-marca */
.section-top-main .nav-bar .logo,
.section-top-main .nav-bar .logo img {
    height: 100%;
}

/* barra de navegacao */
.section-top-main .nav-bar .sections {
    display: flex;
    gap: 50px;
}

/* estilos navegação - (topo e rodapé) - */
.nav-bar .sections p a {
    color: var(--White);
    text-decoration: none;
}

.nav-bar .sections p a:hover {
    transition: all 300ms ease-in-out;
    padding-bottom: 10px;
    border-bottom: white 2px solid;
}

/* titulo na secao inicial */
.limit-vw h1 {
    text-transform: uppercase;
    font-size: 95px;
    border: 2px solid white;
    width: 60%;
    margin-top: 165px;
    padding: 40px;
}

/* secao sobre */
.section-about-main {
    justify-content: center;
}

/* imagem */
.section-about-main .limit-vw figure {
    width: 70%;
}

.section-about-main .limit-vw figure img {
    width: 100%;
}

/* Troca de <img> - (mobile = last-child) - */
.section-about-main .limit-vw figure img:last-child {
    display: none;
}

/* texto */
.section-about-main .limit-vw .info-about {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 125%;
    right: 5%;
    width: 41%;
    gap: 45px;
    padding: 100px 100px 100px 130px;
}

.section-about-main .limit-vw .info-about h2 {
    color: var(--Black);
    font-size: 60px;
    text-transform: uppercase;
}

.section-about-main .limit-vw .info-about p {
    color: var(--Dark-Gray);
    font-size: 19px;
    line-height: 30px;
}

/* Seção grade de imagens */
.section-grid-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 170vh;
}

/* Título e botão da seção */
.section-grid-images .our-creations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}

.section-grid-images .our-creations button {
    font-family: "Alata", sans-serif;
    text-transform: uppercase;
    color: var(--Black);
    background-color: var(--White);
    border: 2px solid var(--Very-Dark-Gray);
    font-size: 19px;
    letter-spacing: 5px;
    padding: 13px 55px;
    cursor: pointer;
}

.section-grid-images .our-creations button:hover {
    color: var(--White);
    background-color: var(--Black);
    transition: all ease-in 300ms;
}

.section-grid-images .our-creations h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: var(--Black);
}

/* Imagens da seção grid */
.section-grid-images .grid-imgs {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    row-gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* backgrounds da seção grid */
.section-grid-images .grid-imgs .fig-de {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-de) no-repeat;
    background-size: cover;
}

.section-grid-images .grid-imgs .fig-na {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-na) no-repeat;
    background-size: cover;
}

.section-grid-images .grid-imgs .fig-st {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-st) no-repeat;
    background-size: cover;
}

.section-grid-images .grid-imgs .fig-tg {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-tg) no-repeat;
    background-size: cover;
}

.section-grid-images .grid-imgs .fig-fa {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-fa) no-repeat;
    background-size: cover;
}

.section-grid-images .grid-imgs .fig-pb {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-pb) no-repeat;
    background-size: cover;
}

.section-grid-images .grid-imgs .fig-tc {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-tc) no-repeat;
    background-size: cover;
}

.section-grid-images .grid-imgs .fig-mf {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)100%), var(--fig-mf) no-repeat;
    background-size: cover;
}

/* tamanho de cada imagem */
.section-grid-images .grid-imgs .figures {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 527px;
}

/* Alteração das imagens quando - (mouseover) -  */
.section-grid-images .grid-imgs .figures::before {
    content: '';
    background-color: var(--White);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.section-grid-images .grid-imgs .figures:hover::before {
    transition: all 300ms ease;
    opacity: 0.5;
}

.section-grid-images .grid-imgs .figures:hover {
    color: var(--Black);
}

/* subtitulo das imagens */
.section-grid-images .grid-imgs .figures h3 {
    color: inherit;
    text-align: left;
    font-size: 35px;
    padding: 0 65px 20px 20px;
    z-index: 1;
}

/* Rodapé da página */
.footer-content {
    background-color: var(--Black);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-content .size-limit {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

/* navegação do rodapé */
.footer-content .size-limit .icons {
    align-items: end;
}

.footer-content .size-limit .nav-bar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-content .size-limit .nav-bar .sections {
    display: flex;
    gap: 30px;
}

.footer-content .size-limit .nav-bar p {
    color: var(--Dark-Gray);
}